:root {
    --sidebar-dark: #202123;
    --main-background: #343541;
    --task-card: #444654;
    --input-bar: #40414f;
    --text-primary: #ECECF1;
    --text-secondary: #A6A7AB;
    --links: #10A37F;
    --todo-indicator: #3B82F6;
    --doing-indicator: #FACC15;
    --done-indicator: #22C55E;
    --priority-high: #EF4444;
    --priority-medium: #F97316;
    --priority-low: #10B981;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 12vw 1fr;
    grid-template-rows: 1fr;
    background-color: #3BC1AC;
    height: 100vh;
    width: 100vw;
}