:root {
    --sidebar-dark: #202123;
    --main-background: #343541;
    --task-card: #444654;
    --input-bar-border: #40414f;
    --text-primary: #ECECF1;
    --text-secondary: #A6A7AB;
    --links: #10A37F;
    --todo-indicator: #3B82F6;
    --doing-indicator: #FACC15;
    --done-indicator: #22C55E;
    --priority-high: #EF4444;
    --priority-medium: #F97316;
    --priority-low: #10B981;
    --send-btn: #10A37F;
    --nav-selected: rgba(16,163,127,0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, Roboto, "Open Sans", sans-serif;
    color: var(--text-primary);
}

#container {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    width: 100vw;
}

#sidebar {
    background-color: var(--sidebar-dark);
    padding: 12px;
    min-height: 100vh;
    position: sticky;
    top: 0;
}

#content {
    display: grid;
    grid-template-rows: 90px 1fr;
    background-color: var(--main-background);
    min-height: 100vh;
    height: fit-content;
}

#header {
    padding: 12px 24px;
}

h1 {
    font-size: 2.5rem;
}

.side-header {
    font-size: 1.4rem;
    height: 120px;
}

.main-nav {
    display: grid;
    text-align: left;
    align-items: start;
    gap: 30px;
    min-height: 100px;
    height: fit-content;
    padding: 0 12px;
    margin-bottom: 2rem;
}

.add-project > .btn {
    background-color: #4a99ff;
    text-align: center;
}

.btn {
    font-weight: 600;
}

.add-btn,
.btn {
    background-color: inherit;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
}

.btn:hover,
.add-btn:hover {
    background-color: rgba(166, 167, 171, 0.1);
    cursor: pointer;
}

.main {
    padding: 24px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 350px;
    gap: 24px;
}

.tasks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr;
}

.task-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px 0;
    gap: 24px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100px;
    border-radius: 12px;
    background-color: var(--task-card);
    border-left: 12px solid var(--todo-indicator);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
    padding: 12px;
}

.prog-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: fit-content;
    padding: 24px;
    background-color: #444654;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.card-content {
    height: auto;
}

.check-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100px;
}

.card-check {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.task-modal,
.project-modal {
    border: none;
    position: absolute;
    top: calc(100vh - (700px + 140px));
    left: calc(100vw - (600px * 2));
    background-color: #1E1E1E;
    padding: 24px;
    border-radius: 16px;
    width: 600px;
    height: 700px;
}

.hidden {
    display: none;
}

.displayed {
    display: block;
}

.task-header {
    display: flex;
}

.priority {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.tasklist {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: #3A3A3A;
}

.modal-btn {
    border: none;
    margin-left: 15%;
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--todo-indicator);
}

.task-data {
    background-color: var(--task-card);
    border-radius: 16px;
    padding: 24px;
    grid-column: 2 / 3;
}

.searchbar {
    padding: 18px;
    border-radius: 12px;
    background-color: var(--task-card);
    border: 1px solid var(--input-bar-border);
}

.active {

}